<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Novartis Germany.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Novartis.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D576A23322E33C74001461AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D576A24722E33C76001461AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D576A25222E33C76001461AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D576A2A222E4F2E2001461AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
